.UpcomingListBlock{
  background: rgb(255, 255, 255);
  width: 46%;
  padding-top: 20px;
  text-decoration: none;
  height : 1000px;
  margin: 2%;
}

.UpcomingListBlock p{
  font-size: 40px;
}

@media screen and (max-width: 900px) {
  .carddate,.cardcontent{
    float: none;
    width: 100%;
  }

}
